{% for category in site.data.category-types %}
  {% if {{category.folder}} == {{include.type}} %}
  <div class="row">
	  <div class="col-sm-12 topic"> 
			<a href="{{site.baseurl}}/support/{{category.folder}}/">
			  <h2>Category: {{category.name}}</h2>
			</a>
			<p>{{category.content}}</p>
			{% for articles in site.categories.[category.folder] %}
			<div class="row">
		  	<div class="col-sm-12 topic"> 
		      <h3><a href="{{site.baseurl}}{{articles.url}}">
		      	<span class="ion-document"></span>
		      	{{articles.title}}</h3>
		      	{{ articles.content | strip_html | truncate:300 }}
						{% if articles.content | size > 300 %}
						    <strong style="color:#a03717">Read more -></strong>
						{% endif %}
		      	
		      </a>
		      
		    </div>
	    </div>
	  	{% endfor %}
	  </div>
  </div>
  {% endif %}
{% endfor %}
