<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 copyright">
        React © 2014
      </div>
      <div class="col-sm-6 menu">
        <ul>
              <li class="active">
                  <a href="features.html">Features</a>
              </li>
              <li>
                <a href="services.html">Services</a>
              </li>
              <li>
                  <a href="pricing.html">Pricing</a>
              </li>
              <li>
                  <a href="support.html">Support</a>
              </li>
              <li>
                  <a href="blog.html">Blog</a>
              </li>
            </ul>
      </div>
      <div class="col-sm-3 social">
        <a href="#">
          <img src="/assets/images/social-tw.png" alt="twitter" />
        </a>
        <a href="#">
          <img src="/assets/images/social-dbl.png" alt="dribbble" />
        </a>          
      </div>
    </div>
  </div>
</footer>
