<div id="search-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>
					<span class="help ion-help-buoy"></span>
					How can we help?
				</h2>
				<p>
					Please describe the problem you're having
				</p>
				<form>
					<div class="input-group">
				    <input type="text" class="form-control" placeholder="Can't find the source code of this page" />
				      <span class="input-group-btn">
				        <button class="btn btn-primary" type="button">Search</button>
				      </span>
				  </div>
				</form>
			</div>
		</div>
	</div>
</div>
