
#all-blogs {
margin-top: 40px;
min-height:350px; 
  #heading{
  color:#0168B3;
  text-align: center;
  }
}

#all-blogs #header_image {
    height: 100%;
    width: 100%;
}


#all-blogs .blog-listing {
  
}

 #all-blogs h4 {
  font-weight: 300;
  margin-bottom: 50px;
  font-size: 24px; }
 #all-blogs .topic {
  margin-bottom: 45px; }

 #all-blogs .topic ul {
  list-style-type: none; }

 #all-blogs .topic ul li a span {
  font-size: 25px;
  padding-right: 14px; }

@media (max-width: 767px) {
   #all-blogs .topic {
    text-align: center; } }
 #all-blogs .topic .icon {
  display: block;
  font-size: 45px;
  color: #70CBF5; }

    
#all-blogs .topic a {
color: #333;
text-decoration: none;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear; }
#all-blogs .topic a strong {
display: block;
margin-top: 15px;
font-size: 15px; }
#all-blogs .topic a:hover {
color: #5CB9E4; }
#all-blogs .topic p {
margin-top: 17px;
color: #838383;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}