---
layout: default
---

<div class="article-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>{{page.title}}</h2>
				<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time></p>
			</div>
		</div>

		{{ content }}
		<!-- to include youtube iframe if youtube_url is present -->
		{% if page.youtube_url | size != 0 %}
			<div class="row">
				<div class="col-md-12">
					<span style="display:none" id="videoid">{{ page.youtube_url }}</span>
					<div id="player"></div>
				</div>
			</div>
		{% endif %}
		

		<!-- to include the srt transcript if srt_file_name is present -->
		{% if page.srt_file_name | size != 0 %}
			{% assign srt_file = page.url | split: '/' %}
			{% assign srt_file_name = srt_file.last | append: '.html' %}
			<div class="row">
				<div class="col-md-12">
					{% include converted_srt/{{ srt_file_name }} %}
				</div>
			</div>
		{% endif %}

		{% if page.youtube_url | size != 0 %}
			<div class="row">
				<div class="col-md-12">
					{% include transcript_js.html video_id=page.youtube_url %}
				</div>
			</div>
		{% endif %}

	</div>
</div>